
<div class="title">

    <div class="logo">
        <div class="piclogo">
            <img src="images/icons/logoplito.webp" alt="">
        </div>

        <div class="company">
            <p>ПлиточкаБай</p>
        </div>
    </div>

    <div class="appname">
        <h5>Выгрузка из МойСклад в гугл таблицы</h5>
    </div>
</div>


<div class="enterform">
    <div>
        <h5 style="color: brown;">Вход через гугл аккаунт</h5>
    </div>
    <img src="images/icons/googlelogo.png" alt="">
    <div class="link-login">
        <a class="button google" href="/google">ВХОД</a>
    </div>

</div>
